# vim:et:ts=2:sw=2:sts=2:ft=yaml

# Credentials used for logging in to the message bus.
#
# With security enforced by the router, there may be no need for 
# multiple types of credentials, but they are supported.  We might
# want them later.
#
# Credential names (e.g. "opensrf") are free-form and have no meaning
# outside of their use in this file.
credentials:
  opensrf:
    username: opensrf
    password: password

# List of routable domains in our cluster.
#
# A domain has one private and one public subdomain, plus a list
# of hosts that participate in the domain as a whole.
#
# If a subdomain has an "allowed_services" entry, those are the only
# services that may register with the router running on the subdomain.
# If no allowed_services entry exists, all services are permitted to 
# register with the subdomain's router.
domains:
  - name: localhost
    private: 
      name: private.localhost
      port: 6379
    public: 
      name: public.localhost
      port: 6379
      allowed_services: public_services

# -- OR --
# Muli-server / multi-brick setup
#domains:
#  - name: brick01.eg.example.org
#    private: 
#      name: private.brick01.eg.example.org 
#      port: 6379
#    public: 
#      name: public.brick01.eg.example.org 
#      port: 6379
#      allowed_services: public_services
#  - name: brick02.eg.example.org
#    private: 
#      name: private.brick02.eg.example.org 
#      port: 6379
#    public: 
#      name: public.brick02.eg.example.org 
#      port: 6379
#      allowed_services: public_services


# Well-known connection types, with option to define custom types
# for use with local scripts, etc.
#
# These link connection types to their subdomain (by type), bus
# credentials, and define their logging configs.
connections:
  service:
    subdomain: private
    credentials: opensrf
    log_file: syslog
    log_level: debug
    syslog_facility: local0
    activity_log_facility: local1
  gateway:
    subdomain: public
    credentials: opensrf
    log_file: syslog
    log_level: info
    syslog_facility: local6
    activity_log_facility: local1
  srfsh:
    subdomain: private
    credentials: opensrf
    log_file: /openils/var/log/srfsh.log
    log_level: debug
  public_router:
    subdomain: public
    credentials: opensrf
    log_file: syslog
    log_level: info
    syslog_facility: local2
  private_router:
    subdomain: private
    credentials: opensrf
    log_file: syslog
    log_level: info
    syslog_facility: local2

settings_config: /openils/conf/opensrf.xml

# Named groups of services.
# Names are free-form and have no meaning outside of this configuration file.
service_groups:
  public_services:
    - opensrf.math
    - open-ils.actor
    - open-ils.acq
    - open-ils.auth
    - open-ils.auth_proxy
    - open-ils.booking
    - open-ils.cat
    - open-ils.circ
    - open-ils.collections
    - open-ils.courses
    - open-ils.curbside
    - open-ils.ebook_api
    - open-ils.fielder
    - open-ils.pcrud
    - open-ils.permacrud
    - open-ils.reporter
    - open-ils.resolver
    - open-ils.search
    - open-ils.serial
    - open-ils.supercat
    - open-ils.url_verify
    - open-ils.vandelay

# Avoid logging parameters for API calls -- at or above INFO level --
# whose API name is a left-anchored match to any of the following method
# names.
log_protect:
  - open-ils.auth.authenticate.verify
  - open-ils.auth.authenticate.complete
  - open-ils.auth.login
  - open-ils.auth_proxy.login
  - open-ils.actor.patron.password_reset.commit
  - open-ils.actor.user.password
  - open-ils.actor.user.username
  - open-ils.actor.user.email
  - open-ils.actor.patron.update
  - open-ils.cstore.direct.actor.user.create
  - open-ils.cstore.direct.actor.user.update
  - open-ils.cstore.direct.actor.user.delete
  - open-ils.search.z3950.apply_credentials
  - open-ils.geo
  - open-ils.actor.geo

