<?xml version="1.0"?>
<config>

  <connections>

    <service>
      <!-- Can this connection talk to private services? -->
      <privileged>true</privileged>

      <message_bus>
        <host>127.0.0.1</host>
        <port>6379</port>
        <username>opensrf@private</username>
        <password>password</password>

        <!--
          Max number of unsent messages Redis will retain in the
          message stream before discarding the oldest.  This value needs
          to be *something* or queues will grow unbounded,  service-level
          request queues especially.  See XREADGROUP MAXLEN.
        -->
        <max_queue_size>1000</max_queue_size>
      </message_bus>

      <!--
      <logfile>syslog</logfile>
      <syslog>local0</syslog>
      <actlog>local1</actlog>
      <loglevel>3</loglevel>
      -->
      <logfile>LOCALSTATEDIR/log/osrfsys.log</logfile>
    </service>

    <gateway>
	  <!-- This connection CANNOT talk to private services -->
      <message_bus>
        <host>127.0.0.1</host>
        <port>6379</port>
        <username>opensrf@public</username>
        <password>password</password>
      </message_bus>
      <client>true</client>
      <!--
      <logfile>syslog</logfile>
      <syslog>local6</syslog>
      <actlog>local1</actlog>
      -->
      <loglevel>3</loglevel>
      <logfile>LOCALSTATEDIR/log/gateway.log</logfile>
    </gateway>
  </connections>

  <settings_config>/openils/conf/opensrf.xml</settings_config>

  <public_services>
    <service>opensrf.math</service>
  </public_services>

  <log_protect>
  	<!--
  	<match_string>open-ils.auth</match_string>
  	<match_string>open-ils.some_service.some_method</match_string>
  	-->
  </log_protect>

</config>
