<?xml version="1.0"?>
<!-- This file follows the standard bootstrap config file layout found in opensrf_core.xml -->
<config>
  <connections>
    <srfsh>
      <privileged>true</privileged>
      <message_bus>
        <host>127.0.0.1</host>
        <port>6379</port>
        <username>opensrf@private</username>
        <password>password</password>
      </message_bus>
      <logfile>LOCALSTATEDIR/log/srfsh.log</logfile>
      <loglevel>4</loglevel>
    </srfsh>
  </connections>
</config>
